.card1{
    padding: 1rem;
    border: 1px solid #ccc;
    width:100%;
    

}
.card1 h1
{
    font-size: 30pt;
    font-weight: 700;

}
.card1 th
{
    font-size:15pt;
    font-weight:700;
    background-color: #ccc;    
}